.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.btn {
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.clear {
	width: 600px;
	padding: 9px 0;
    overflow: hidden;
    zoom: 1;
}
.left{
	height: 40px;
	line-height: 40px;
	float: left;
}
.right{
	float: right;
}
.tab-wdth{
	width: 20px;
	vertical-align: middle;
	text-align: center;
	color: #2c2916;
}
.small {
    font-size: 14px;
}